.nav-item{
    margin-left: 5px;
}
/* Top NavBAr Styles */
.nav1{
    background-color: white;
    position: absolute; 
    z-index: 1;
    position: fixed;
    width: 100%;   
    top: 0%;
}
.nav1 i{
    font-size: 15px;
}
/* Side NavBar Styles */
.nav2 i{
    font-size: 1.5rem;
}
.nav2 i{
    font-size: 1.5vw;
}
.nav2 p{
    font-size: 1vw;
}
.nav2{
    width: 8vw;
    height: 100vh;
    position: fixed;
    margin-left: 0;
}
.nav2-list{
     margin-top: 5rem;
    list-style: none;
    width: 8vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0.5rem;

}
/* Video-player Styles */
.video-player{
    margin-top: 5rem;
    margin-left: 8vw;
    padding: 1.5% 1% 0% 2%;
}
/* padding 1% for some elements */
.pl-1{
    padding-left: 1%;
}
/* Player side width of 75% on large screens */
.player-side{
    width: 75%;
}
.video-title{
    font-weight: bold;
    font-size: 1.5rem;
}
.username{
    font-weight: bold;
}
.video-item{
   margin-top: 5%;
}
/* Styles of the Side List of More Videos */
.sideList{
    width: 25% ;
    padding-left: 2%;
    padding-right: .2%;
    position: absolute;
    right: 0;
    top: 5rem;
    padding-top: 1.5%;
}
/* More Videos List styles */
.moreVideosList{
    display: flex;
    flex-direction: column;
}
/* Styles for Responsiveness on Mediums Devices */
@media (min-width:576px) and (max-width:991px){
    .player-side{
        width: 100%;
    }
    .sideList{
        position: static;
        width:100%;
        padding-left: 0;
    }
    .moreVideosList{
        flex-direction: row;
    }
    .video-item{
        margin-top: 3%;
    }
}
/* Styles for Responsiveness on Small Devices */
@media (max-width: 575px){
    .nav2{
        height: 8vh;
        width: 100vw;
        position: absolute;
        bottom: 0;
        position: fixed;
        z-index: 999;
        display: flex;
        background-color: white;
    }
    .nav2-list{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 8vh;
        align-items: center;
        margin-top: auto ;
        margin-bottom: auto;
        justify-content: space-evenly;
    }
    .videos-list{
        margin-left: auto;
    }
    .video-item:hover{
        box-shadow: none;
        transform: none;
    }
    .nav2 i{
        font-size: 2.5vh;
    }
    .nav2 p{
        font-size: 2.5vw;
    }
    .video-player{
        margin-left: auto;
    }
    .player-side{
        width: 100%;
    }
    .sideList{
        position: static;
        width: 100%;
        padding-left: 0;
    }
    .video-item{
        margin: 1% 0;
    }
}

